<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">
<!-- Navbar Fragment -->
<nav  id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: black">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img th:src="@{/img/logo.png}" alt="Logo"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#Notice">Notice</a></li>
                    <li><a class="page-scroll" href="#Screenshots">Screenshots</a></li>
                    <li><a class="page-scroll" th:href="@{/HList}">Cock</a></li>
                    <li><a class="page-scroll" th:href="@{/build/index.html}">Q&A</a></li>

                    <!-- 로그인 유무에 따른 join/logout -->
                    <th:block sec:authorize="isAnonymous()">
                        <li><a class="page-scroll" th:href="@{/member/login}">Login</a></li>
                        <li><a class="page-scroll" th:href="@{/member/join}">Join</a></li>
                    </th:block>

                    <!-- 일반 사용자 & 헬퍼 -->
                    <th:block sec:authorize="hasAnyRole('USER', 'HELPER')">
                        <li>
                            <form th:action="@{/member/logout/action}" method="post" style="display:inline;">
                                <button type="submit" class="page-scroll btn-link" style="background:none; border:none; padding:0; cursor:pointer;">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <li><a class="page-scroll" th:href="@{/member/mypage}">MyPage</a></li>
                    </th:block>

                    <!-- 관리자 권한 -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <li><a class="page-scroll" th:href="@{/admin}" target="_blank">Admin</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</nav>
</th:block>